<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>PlugInKit</key>
	<dict>
		<key>Attributes</key>
		<dict>
			<key>com.apple.protocol</key>
			<string>FxPlug</string>
			<key>com.apple.version</key>
			<string>1.1</string>
		</dict>
		<key>PrincipalClass</key>
		<string>FxPrincipal</string>
		<key>Protocol</key>
		<string>PROXPCProtocol</string>
		<key>Subsystems</key>
		<array>
			<string>NSViewService_PKSubsystem</string>
		</array>
	</dict>
	<key>ProPlugDictionaryVersion</key>
	<string>1.0</string>
	<key>ProPlugDynamicRegistration</key>
	<false/>
	<key>ProPlugPlugInGroupList</key>
	<array>
		<dict>
			<key>groupName</key>
			<string>Keying</string>
			<key>uuid</key>
			<string>8F1B3A2C-6E54-4A18-9D7F-0C8B5E2A4931</string>
		</dict>
	</array>
	<key>ProPlugPlugInList</key>
	<array>
		<dict>
			<key>className</key>
			<string>CorridorKeyToolboxPlugIn</string>
			<key>displayName</key>
			<string>CorridorKey by LateNite</string>
			<key>group</key>
			<string>8F1B3A2C-6E54-4A18-9D7F-0C8B5E2A4931</string>
			<key>infoString</key>
			<string>AI green-screen keying, accelerated by Apple Silicon and the Neural Engine.</string>
			<key>protocolNames</key>
			<array>
				<string>FxFilter</string>
			</array>
			<key>uuid</key>
			<string>D29F6B10-4F3A-4C5E-B611-7A2E8D4C9F08</string>
			<key>version</key>
			<string>$(MARKETING_VERSION)</string>
		</dict>
		<dict>
			<key>className</key>
			<string>CorridorKeyHintOSC</string>
			<key>displayName</key>
			<string>CorridorKey by LateNite Subject Points</string>
			<key>group</key>
			<string>8F1B3A2C-6E54-4A18-9D7F-0C8B5E2A4931</string>
			<key>infoString</key>
			<string>Click to add foreground (green) or background (red) hint dots that guide the keyer.</string>
			<key>protocolNames</key>
			<array>
				<string>FxOnScreenControl</string>
			</array>
			<key>supportedPlugins</key>
			<array>
				<string>D29F6B10-4F3A-4C5E-B611-7A2E8D4C9F08</string>
			</array>
			<key>uuid</key>
			<string>F1A7B2D3-5C68-4E8F-9A02-D4E5F6A7B8C9</string>
			<key>version</key>
			<string>$(MARKETING_VERSION)</string>
		</dict>
	</array>
	<key>XPCService</key>
	<dict>
		<key>JoinExistingSession</key>
		<true/>
		<key>RunLoopType</key>
		<string>_NSApplicationMain</string>
		<key>ServiceType</key>
		<string>Application</string>
		<key>_AdditionalSubServices</key>
		<dict>
			<key>viewbridge</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
